.header-main {
	display: flex;
	margin: 0 auto !important;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	max-width: $contentFullwidth;
}

/* Site Title */
.wp-block-site-title {
	margin: 0;
	padding: 0;
}

.wp-block-site-title a:link,
.wp-block-site-title a:visited,
.wp-block-site-title a:hover {
	border: none;
	text-decoration: none;
}
